
.course {
  width: 300px;

  .am-modal-content {
    overflow: hidden;

    .am-modal-close {
      top: 10px;
    }

    .am-modal-header {
      padding: 20px 15px 15px;
    }

    .am-modal-body {
      .content {
        .gift {
          display: flex;
          width: 260px;
          justify-content: space-between;

          li {
            width: 60px;
            height: 75px;

            img {
              width: 60px;
              height: 75px;
            }
          }
        }

        .form {
          margin-top: 20px;
          width: 260px;
          height: 70px;

          .input {
            height: 35px;
            border-bottom: 1px solid #d8d8d8;

            .enter {
              width: 280px;
              height: 20px;
              margin-top: 10px;
              color: #333;
              padding-left: 10px;
            }

            input::placeholder {
              color: #c1c1c1;
            }
          }
        }

        .btn {
          margin-top: 20px;
          height: 40px;
          background: #648CDC;
          color: #fff;
          text-align: center;
          line-height: 40px;
          border-radius: 300px;
          cursor: pointer;
          font-weight: 500;
        }
      }


      .success {
        width: 260px;
        height: 245px;
        margin: 0 auto;
        overflow: hidden;

        img {
          width: 150px;
          height: 150px;
        }

        .vector {
          width: 100px;
          height: 100px;
          margin-bottom: 30px;
        }

        .success-foot {
          margin-top: -30px;

          h1 {
            text-align: center;
          }

          .text {
            margin: -15px auto;
            width: 260px;
            height: 64px;
            font-weight: 500;
            font-size: 14px;
            line-height: 32px;
            color: #C1C1C1;
            text-align: left;
          }
        }
      }


      .advisory {
        height: 200px;

        .form {
          margin-top: 20px;
          width: 260px;
          height: 70px;

          .line {
            height: 40px;
            border-bottom: 1px solid #d8d8d8;

            p {
              color: #333;
              line-height: 30px;
              font-size: 16px;
            }

            input {
              width: 280px;
              height: 20px;
              margin-top: 10px;
              color: #333;
              padding-left: 10px;
            }

            input::placeholder {
              color: #c1c1c1;
            }
          }

          .line:first-child {
            margin-bottom: 10px;
            border: none;
          }

          .btn {
            line-height: 30px;
            color: #fff;
            background: #648CDC;
            border-radius: 300px;
            cursor: pointer;
            font-weight: 500;
            margin-top: 30px;
          }
        }
      }
    }

  }
}


.player {
  width: 100%;
  height: 100%;

  .am-modal-content {
    overflow: hidden;
    padding-top: 0;

    .am-modal-close {
      top: 30px;
    }

    .am-modal-header {
      padding: 6px 15px 15px;
    }

    .am-modal-body {
      background: #000;

      .am-modal-body {
        padding: 0;


      }
    }
  }

}

.prism-player {
  margin-top: 25vh;
}


.enter {
  height: 330px;

  .am-modal-content {

    .am-modal-header {
      padding: 0;
      height: 48px;

      .am-modal-title {
        line-height: 48px;
        border-bottom: 1px solid #f1f2f6;
      }
    }

    .am-modal-body {
      .tiao {
        height: 44px;
        line-height: 44px;
        width: 92%;
        margin: 0 4%;
        border: 1px solid #C1C1C1;
        border-radius: 8px;
        text-align: left;
        padding-left: 12px;

        input {
          font-size: 16px;
        }

        .am-list-item {
          min-height: 42px;
          padding: 0;
          width: 99%;

          .am-list-line {
            position: relative;

            .am-list-extra {
              text-align: left;
            }

            .am-list-arrow {
              position: absolute;
              right: 20px;
            }
          }
        }
      }

      .course_xz {
        margin-top: 30px;
      }

      .name, .mobile {
        margin-top: 20px;
      }

      .btn {
        line-height: 49px;
        color: #fff;
        font-size: 16px;
        text-align: center;
        background-color: #FF7B18;
        height: 49px;
        margin-top: 31px;
      }
    }
  }

}


.success_ful_modal {
  width: 150px !important;
  height: 147px !important;
  overflow: hidden;
  border-radius: 15px;

  .success_ful {
    width: 150px;
    height: 147px;
    background: url("../../image/modal/Successful .png") center no-repeat;
    background-size: cover;
  }
}
