@import "../mixin";

.course-page {
  overflow: hidden;

  .ren-tabs {
    background-color: #fff;
    border: none;

    .am-tabs-top {
      height: 52px;
      padding-top: 25px;
      width: 92%;
      margin: 0 4%;
      border: none;


      .am-tabs-tab-bar-wrap {
        height: 27px;
        border: none;

        .am-tabs-default-bar-top {
          height: 27px;
          border: none;

          .am-tabs-default-bar-content {
            height: 27px;
            border: none;

            .am-tabs-default-bar-tab {
              height: 27px;
              background: #eee;
              border: none;
            }

            .am-tabs-default-bar-tab:first-child {
              border-radius: 5px 0 0 5px;
              border: none;
            }

            .am-tabs-default-bar-tab:nth-child(2) {
              border-radius: 0 5px 5px 0;
              border: none;
            }

            .am-tabs-default-bar-tab-active {
              height: 27px;
              background: #648cdc;
              border-bottom: none;
            }

            .am-tabs-default-bar-underline {
              border: none;
            }
          }
        }
      }
    }
  }


  .younger-course-page {
    overflow: hidden;

    .page-first {
      background-color: white;
      overflow: hidden;
      height: auto;
      padding: 0;

      .course-information {
        padding: 0 15px;
        height: 23vh;
        overflow: hidden;
        clear: both;
        margin-top: 15px;
        position: relative;
        padding-bottom: 10px;
        border-bottom: 1px solid #eee;


        .course-img {
          margin-bottom: 16px;
          float: left;

          .img-detail {
            width: 34.6vw;
            height: 34.6vw;
            border-radius: 4px;
          }
        }

        .course-information-content {
          padding-top: 3px;
          width: 56vw;
          padding-left: 15px;
          float: left;

          .first {
            clear: both;
            font-family: PingFangSC-Medium, PingFang SC;
            font-size: 15px;
            font-weight: 300;
            color: rgba(51, 51, 51, 1);
            height: 3.73vw;
            line-height: 3.73vw;

          }

          .second {
            padding: 2.13vw 0;

            .label {
              height: 4.26vw;
              line-height: 4.26vw;
              font-weight: 200;
              color: rgba(100, 140, 220, 1);
            }
          }

          .third {
            overflow: hidden;
            clear: both;
            width: 100%;
            min-height: 9.6vw;

            .third-content {
              height: 4.8vw;
              float: left;
              margin-top: 3px;

              .third-icon {
                display: inline-block;

                .icon {
                  width: 2.4vw;
                  height: 2.4vw;
                }
              }

              .font {
                margin-left: 0.8vw;
                display: inline-block;
                height: 3.466vw;
                font-size: 10px;
                font-weight: inherit;
                color: rgba(68, 68, 68, 1);
                line-height: 3.466vw;
              }
            }
          }

        }


        .btn {
          margin-left: 12px;
        }

        &:last-child {
          border-bottom: none;
        }
      }
    }

    .page-second {
      overflow: hidden;
      background-color: white;
      min-height: 100px;
      margin-top: 8px;
      height: 540px;

      .second-top {
        margin: 24px 0;
        position: relative;
        height: 24px;
        font-size: 18px;
        font-family: PingFangSC-Semibold, PingFang SC;
        font-weight: 300;
        color: rgba(51, 51, 51, 1);
        line-height: 24px;

        &:before {
          margin-left: -4.26vw;
          height: 100%;
          position: absolute;
          content: "";
          border-left: rgba(100, 140, 220, 1) 4px solid;
        }
      }

      .second-font {
        font-size: 13px;
        font-weight: 400;
        color: rgba(102, 102, 102, 1);
        line-height: 20px;
        margin-bottom: 16px;
      }

      .second-img {
        margin-bottom: 18px;

        img {
          width: 100%;
        }
      }
    }

    .page-third {
      overflow: hidden;
      background-color: white;
      min-height: 100px;
      margin-top: 8px;
      height: auto;


      .third-content {
        margin-bottom: 12px;
        justify-content: space-between;
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        margin-top: 24px;

        .div {
          margin-bottom: 13px;
          flex: 0 0 44vw;
          height: 27.2vw;
          border-radius: 2.13vw;
        }
      }
    }

  }

  .enter-course-page {
    .enter-first {
      //padding: 24px 4.26vw 0 4.26vw;
      background-color: white;
      min-height: 100px;

      .first-content {
        padding: 24px 4.26vw 0 4.26vw;
      }

      .first-content-img {
        width: 100%;
        height: 58vw;

        img {
          width: 100%;
          height: 58vw;
          border-radius: 6px;
        }
      }

      .content {
        overflow: hidden;
        margin-bottom: 8px;
        padding: 0 4.26vw 0 4.26vw;

        .content-top {
          overflow: hidden;
          padding: 16px 0 12px 0;
          position: relative;

          .top-name {
            float: left;

            .name-first {
              height: 16px;
              font-size: 16px;
              font-family: PingFangSC-Semibold, PingFang SC;
              font-weight: 300;
              color: rgba(51, 51, 51, 1);
              line-height: 16px;
            }

            .name-second {
              margin-top: 8px;
              height: 12px;
              font-size: 12px;
              font-family: PingFangSC-Medium, PingFang SC;
              font-weight: 300;
              color: rgba(102, 102, 102, 1);
              line-height: 12px;
            }
          }

          .btn {
            right: 0;
            top: 12px;
            left: 85%;
          }

        }

        .content-list {
          display: flex;
          flex-wrap: wrap;
          padding: 8px 11px 0 11px;
          background: #F9F8FD;
          border-radius: 4px;

          .list-detail {
            flex: 0 0 50%;
            margin-bottom: 8px;

            .list-icon {
              width: 12px;
              height: 12px;
              background: url("../../image/course/Correct.png") center no-repeat;
              background-size: contain;
              display: inline-block;
              vertical-align: middle;
              margin-right: 5px;
            }

            .list-label {
              color: rgba(102, 102, 102, 1);
              height: 14px;
              font-size: 12px;
              line-height: 14px;
              display: inline-block;
              font-weight: 400;
            }
          }
        }

        .content-font {
          clear: both;
          height: 70px;
          font-size: 12px;
          font-weight: 300;
          color: rgba(153, 153, 153, 1);
          line-height: 18px;
          padding-top: 15px;
          @include multi-line(3);
        }

      }

      .content-line {
        border-bottom: 1px solid #eee;
      }

      .second-content {
        padding: 0 4.26vw 0 4.26vw;
        margin-top: 15px;
      }
    }

    .enter-second {
      overflow: hidden;
      padding: 20px 4.26vw 0 4.26vw;
      background-color: white;
      min-height: 100px;

      .enter-font {
        font-size: 13px;
        font-weight: 400;
        color: rgba(102, 102, 102, 1);
        line-height: 20px;
        margin-bottom: 16px;
      }

      .enter-img {
        margin-top: 8px;
        margin-bottom: 30px;

        img {
          width: 100%;
        }
      }
    }

    .enter-third {
      overflow: hidden;
      padding: 0 4.26vw;
      background-color: white;
      min-height: 100px;
      margin-top: 8px;

      .enter-top {
        margin: 24px 0;
        position: relative;
        height: 24px;
        font-size: 18px;
        font-family: PingFangSC-Semibold, PingFang SC;
        font-weight: 300;
        color: rgba(51, 51, 51, 1);
        line-height: 24px;

        &:before {
          margin-left: -4.26vw;
          height: 100%;
          position: absolute;
          content: "";
          border-left: rgba(100, 140, 220, 1) 4px solid;
        }
      }

      .enter-content {
        margin-bottom: 12px;
        justify-content: space-between;
        display: flex;
        flex-wrap: wrap;
        width: 100%;

        .div {
          margin-bottom: 13px;
          flex: 0 0 44vw;
          height: 27.2vw;
          border-radius: 2.13vw;
        }
      }
    }
  }

  .gray {
    width: 100%;
    height: 8px;
    background-color: #f2f2f2;
  }
}




